
/* Imports */
/* ========================================================================== */

/* Graphik Medium */
@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Medium.ttf') format('ttf'),
  url('/fonts/Graphik-Medium.ttf') format('ttf');
  font-weight: 500;
}


/* Base Styles */
/* ========================================================================== */

html, body {margin: 0; padding: 0; font-family: Roboto, sans-serif; font-weight: 300; color: #333333;}
  html {font-size: 62.5%;}
  main, section {display: block;}
  h1, h2, h3, h4 {font-weight: normal; margin: 0; padding: 0;}
  h1 {font-family: Graphik, Helvetica, Arial, sans-serif; font-weight: 500; font-size: 4.6rem;}
  a, a:visited, a:hover {text-decoration: none; color: unset;}
    a:hover {cursor: pointer;}
  b {font-weight: 500;}


/* Navigation */
/* ========================================================================== */
.navigation {display: flex; padding: 3.2rem 10.4rem; justify-content: space-between; align-items: center;}
  a.logo {width: 10.0rem; height: 10.0rem; display: block;}
    a.logo:hover {opacity: 0.7; transition: opacity 0.4s;}
    .logo img {width: 100%;}
  .menu_options {font-size: 2.0rem; padding-right: 8.8rem;}
    .menu_options:last-child {padding-right: 0;}
  a.menu_options:hover {color: #11A58B; transition: color 0.4s;}
    .menu_options-selected {font-weight: 500;}
a.text_link {font-weight: 500; color: #00729D;}
  a.text_link:hover {color: #005B7D;}

@media screen and (max-width: 1180px) {
  .navigation {width: 80%; margin: auto; padding: 3.2rem 0;}
}

@media screen and (max-width: 600px) {
  .navigation {margin: auto; text-align: center;}
    a.logo {display: none;}
    .menu {display: flex; flex-direction: row; width: 80%; margin: auto; font-size: 1.4rem;}
      .menu_options {padding: 0; flex: 1; font-size: 1.8rem;}
}

